body{
    background-color: aquamarine;
    text-align: left;
}
.imagen{
background-image: url(hh.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 100px auto;
}